.eqi-container {
  display: flex;
  justify-content: space-around;
}
.flexbox-column-container {
   display: flex;
   justify-content: space-around;
 }
.eqi-container div {

}

.bold-text {
  font-weight: bold;
  font-size: 24px;
}

.div-without-linebreak {
    border:1px solid #000;
    display:inline-block;
    display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}


.attribute-element {
    border:1px solid #000;
    /*display: inline-block;
    margin:10px 0 0 2%;
    flex-grow: 1;*/
    min-width: 150px
    height:80px;
    width: calc(100% * (1/3) - 10px - 1px);
}

.attribute-container {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    /*margin:-10px 0 0 -10px;*/
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}


.flex-container-meta {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item-meta {
  font-weight: bold;
  text-align: center;
}

.absolute-xp {
  position: absolute;
  top: 155px;
  left: 20px;
  right: 20px;
}

.charm-list {

    background: #3399ff;
    padding: 20px;

 }

.charm-list-element {
    background: #0fe50f;
    margin: 5px;
}

.charm-list-black {
       background: #ee00ee;
}